[remote "fastai"]
    url = https://github.com/fastai/course22.git
    fetch = +refs/heads/*:refs/remotes/fastai/*
[remote "origin"]
    url = git@github.com:huangyingw/course22.git
    fetch = +refs/heads/*:refs/remotes/origin/*
[push]
    remote = origin
[gsync]
    remote = fastai
    target = fastai/master
[branch "dev"]
    remote = origin
    merge = refs/heads/dev
[branch "master"]
    remote = origin
    merge = refs/heads/master
[gdio]
    ignore = *.gdio.diff
[deploy]
	host = localhost
	path = ~//media/secure_bcache/myproject/git/AI/fastai/course22
